.concept{
    animation: bounce 1s linear;

}
.concept-cont{
    margin: 0px;
    padding: 10px 20px;
    width: 96vw;
    height: 90vh;
    overflow: auto;
}
.concept-1{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    align-items: center;
    justify-content: space-evenly;
}
.concept-1 img{
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
    margin: 20px;
}
.concept-1 div p{
    font-family: Archivo, sans-serif;
    text-align: justify;
    color: #181818;
    width: 100%;
    max-width: 400px;
}
.concept-2{
    position: relative;
    margin: 20px auto;
    display: flex;
    flex-direction: row;
}
.concept-2 img {
    width: 100%;
    max-width: 600px;
}

@media(max-width: 768px){
    .concept-1{
        display: flex;
        flex-direction: column;
        align-items: center;

    }   
    .concept-1 div p{
        font-size: 1.76rem;
    }

    
}
