.concept-top{
    display: flex;
    background: tomato;
    align-items: center;
    
    width: 100vw;
    padding: 8px 16px;
    justify-content: center;
}
.concept-top a img{
    margin-right: 10px;

    width: 24px;
}
.concept-top span{
    font-size: 2rem;
    font-family: Kufam, sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    color: #ffffff;
}
@media(max-width: 768px){
    .concept-top span{
        font-size: 1.7rem;
    }
    .concept-top a img{
        width: 19px;
    }
}